<div class="principal">
<h1>Ficha Tecnica Samsung Galaxy S23</h1>
<ul>
    <li>Pantalla 
        <p>Panel Dynamic Amoled 2X de 6,1 pulgadas
            <br>Refresco de 48 a 120 Hz
            <br>Resolucion FHD+ de 2.340 x 1.080 pixeles
            <br>Brillo pico de 1750 nits
            <br>Always-On-Display
        </p>
    </li>
    <li>Dimensiones Y Peso
        <p>146,3 x 70,9 x 7,6 mm
            <br>168 gramos
        </p>
    </li>
    <li>Procesador
        <p>Snapdragon 8 Gen 2 for Samsung</p>
    </li>
    <li>Almacenamiento
        <p>8 GB RAM 
           <br>128 GB UFS 3.1
           <br>256 o 512 GB UFS 4.0 
        </p>
    </li>
    <li>Camara Frontal
        <p>12 Mpx f/2.2</p>
    </li>
    <li>Camara Trasera
        <p>Principal de 50 Mpx f/1.8 OIS
            Telefoto de 10 Mpx f/2.4 OIS 3x
            Gran angular de 12 Mpx f/2.2
        </p>
    </li>
    <li>Bateria
        <p>3900 mAh
            <br>Carga de 25 W
            <br>Carga Inalambrica de 15 W
            <br>Carga Inalambrica inversa de 4,5 W
        </p>
    </li>
    <li>Sistema Operativo
        <p>Android 13 + One UI 5.1</p>
    </li>
    <li>Conectividad 
        <p>5G 
            <br>Wi-Fi 6E
            <br>Bluetooth 5.3
            <br>NFC
        </p>
    </li>
    <li>Otros
        <p>Sensor de huella ultrasonico en pantalla
            <br>Certificacion IP68
            <br>Pantalla Gorilla Glass Victus 2
            <br>Sonido Dolby Atmos estereo
        </p>
    </li>
</ul>
</div>
<style>
    .principal{
        background:linear-gradient(darkblue,black);
        margin: auto;
        padding: 0%;
        color:white;
    }
</style>