<div class="principal">
<h1>Ficha Tecnica Samsung Galaxy S23+</h1>
<ul>
    <li>Pantalla
        <p>Dynamic AMOLED 6,6 pulgadas
            <br>Full HD+ (2.340 x 1.080 px)
            <br>LTPO 48-120 Hz
            <br>1.750 nits
        </p>
    </li>
    <li>Dimensiones Y Peso
        <p>157.8 x 76.2 x 7.6 mm
            <br>196 g 
        </p>
    </li>
    <li>Procesador
        <p>Qualcomm Snapdragon 8 Gen 2</p>
    </li>
    <li>Almacenamiento
        <p>8GB RAM
            <br>256 GB / 512 GB
        </p>
    </li>
    <li>Camara Frontal
        <p>12 MP</p>
    </li>
    <li>Camara Trasera
        <p>50 MP
            <br>10 MP teleobjetivo 2X
            <br>12 MP Ultra gran angular
        </p>
    </li>
    <li>Bateria
        <p>4700mAh
            <br>Carga rapida de 45W
            <br>Carga inalambrica de 15W
            <br>Carga inalambrica reversible de 4.5W
        </p>
    </li>
    <li>Sistema Operativo
        <p>Android 13
            <br>One UI 5.1
        </p>
    </li>
    <li>Conectividad
        <p>5G
            <br>Wi-Fi 6 (802.11ax)
            <br>Bluetooth 5.3
            <br>NFC
        </p>
    </li>
    <li>Otros
        <p>Resistencia al agua IP68
            <br>Altavoces estereo
            <br>Lextor de huellas ultrasonico
            <br>Desbloqueo Facial 2D
            <br>Samsung DeX
            <br>Samsung Pay
        </p>
    </li>
</ul>
</div>
<style>
    .principal{
        background:linear-gradient(darkblue,black);
        margin: auto;
        padding: 0%;
        color:white;
    }
</style>