<div class="principal">
<h1>Ficha Tecnica Samsung Galaxy S23 Ultra</h1>
<ul>
    <li>Pantalla 
        <p>Amoled de 6,8 pulgadas
        <br>Refresco adaptativo de 1 a 120 Hz 
        <br>Resolucion QHD+ a 3080 x 1440 pixeles
        <br>100% DCI-P3
        <br>Panel Perforado
        <br>Gorilla Glass Victus 2
    </p>
    </li>
    <li>Dimensiones Y Peso  
        <p>163,4 x 78,1 x 8,9 mm
        <br> 234 gramos</p>
    </li>
    <li>Procesador 
        <p>Qualcomm SnapDragon 8 Gen 2
        <br>Adreno 740
        </p>
    </li>
    <li>Almacenamiento  
        <p>8 o 12 GB de RAM
        <br>256, 512 o 1 TB de memoria interna</p>
    </li>
    <li>Camara Frontal  
        <p>12 megapixeles f/2.2 25mm</p>
    </li>
    <li>Camara Trasera  
        <p>Principal: 200 megapixeles f/1.7 OIS
        <br>Angular: 12 megapixeles f/2.2 120ยบ 13mm
        <br>Zoom: 10 megapixeles f/2.4 OIS 3X 69mm
        <br>Zoom: 10 megapixeles f/4.9 OIS 10X 230mm
        </p>
    </li>
    <li>Bateria 
        <p>5000 mah
            <br>Carga Rapida de 45W
            <br>Carga Inalambrica de 15W
        </p>
    </li>
    <li>Sistema Operativo  
        <p>Android 13
            <br>One UI 5.1
        </p>
    </li>
    <li>Conectividad  
        <p>5G(2xNano + eSIM)
            <br>WiFi 6E
            <br>Bluetooth 5.3
            <br>GPS
            <br>NFC
            <br>UWB
            <br>USB tipo C
        </p>
    </li>
    <li>Otros  
        <p>IP68
            <br>IP68
            <br>Compatible con Samsung DeX
            <br>S-Pen con 2,8ms de latencia
        </p>
    </li>
</ul>
</div>
<style>
    .principal{
        background:linear-gradient(darkblue,black);
        margin: auto;
        padding: 0%;
        color:white;
    }
</style>