<div class="contenedor-principal">
    <h1>Bienvenido a SamsungManía</h1>
    <h2><a href="sabermas">Preguntas Frecuentes</a></h2>
    <div class="contenedor-imagen">
        <img src="public/Galaxy.jpg" alt="Serie Galaxy">
    </div>
</div>

<style>
    .contenedor-principal {
        background: linear-gradient(purple, black);
        margin: auto;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
        padding: 20px; 
    }

    div h2 {
        font-size: small;
    }

    img {
        width: 50%;
        height: auto; 
        display: block;
        margin: 0 auto;
    }

    a {
        color: white;
        text-decoration: none;
    }
</style>
